
#Xilinx IDE

*.xmsgs
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lse
*.ncd
*.ngd
*.ng
*.pad
*.par
*.pcf
*.pri
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xrpt
*.xst
*_envsettings.html
*_map.*
*_pad.*
*_par.*
*_usage.xml
*_vhdl.prj
usage_statistics_webtalk.html
xln_auto_0_xdb
xst
.vs*
netlist.lst
*.xreport
*.lso
*.ngc
*.prj
*.ngr
*.ncd
*.xbcd
webtalk_pn.xml
webtalk.log
*_summary.*
*.projectmgr
*.gise
*.sym
*.xise
*.xwbt
sch2HdlBatchFile
schematic.*
