//! **************************************************************************
// Written by: Map P.20131013 on Sat May 04 13:16:23 2019
//! **************************************************************************

SCHEMATIC START;
COMP "LED<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P19" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "P82" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "CLK" LOCATE = SITE "P43" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P13" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "P97" LEVEL 1;
SCHEMATIC END;

