#      __  ____                 _   __                
#    /  |/  (_)_____________  / | / /___ _   ______ _
#   / /|_/ / / ___/ ___/ __ \/  |/ / __ \ | / / __ `/
#  / /  / / / /__/ /  / /_/ / /|  / /_/ / |/ / /_/ / 
# /_/  /_/_/\___/_/   \____/_/ |_/\____/|___/\__,_/  
#                                                  
# Mercury BASEBOARD User Constraints File
# Revision 1.0.0 (03/25/2015)
# Copyright (c) 2015 MicroNova, LLC
# www.micro-nova.com

# system oscillators
#NET "EXT_CLK"   LOC = "P44" | IOSTANDARD = LVTTL ;
NET "CLK"       LOC = "P43" | IOSTANDARD = LVTTL ;
#NET "CLK"       TNM_NET = "CLK"; 
#TIMESPEC        "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;

# Buttons
#NET "USR_BTN"	LOC = "P41" | IOSTANDARD = LVTTL ;
NET "BTN<0>"	LOC = "P68" | IOSTANDARD = LVTTL ;
NET "BTN<1>"	LOC = "P97" | IOSTANDARD = LVTTL ;
NET "BTN<2>"	LOC = "P7"  | IOSTANDARD = LVTTL ;
NET "BTN<3>"	LOC = "P82" | IOSTANDARD = LVTTL ;

# LEDs
NET "LED<3>"  	LOC = "P13" | IOSTANDARD = LVTTL ;
NET "LED<2>"   LOC = "P15" | IOSTANDARD = LVTTL ;
NET "LED<1>"	LOC = "P16" | IOSTANDARD = LVTTL ;
NET "LED<0>"   LOC = "P19" | IOSTANDARD = LVTTL ;

# 7 SEG
NET "AN<0>"      LOC = "P50" | IOSTANDARD = LVTTL ;
NET "AN<1>"      LOC = "P49" | IOSTANDARD = LVTTL ;
NET "AN<2>"      LOC = "P85" | IOSTANDARD = LVTTL ;
NET "AN<3>"      LOC = "P84" | IOSTANDARD = LVTTL ;
