#      __  ____                 _   __                
#    /  |/  (_)_____________  / | / /___ _   ______ _
#   / /|_/ / / ___/ ___/ __ \/  |/ / __ \ | / / __ `/
#  / /  / / / /__/ /  / /_/ / /|  / /_/ / |/ / /_/ / 
# /_/  /_/_/\___/_/   \____/_/ |_/\____/|___/\__,_/  
#                                                  
# Mercury BASEBOARD User Constraints File
# Revision 1.0.0 (03/25/2015)
# Copyright (c) 2015 MicroNova, LLC
# www.micro-nova.com

# system oscillators
NET "CLK"       LOC = "P43" | IOSTANDARD = LVTTL ;

# user LEDs and button
NET "LED0"  	LOC = "P13" | IOSTANDARD = LVTTL ;
NET "LED1"  	LOC = "P15" | IOSTANDARD = LVTTL ;

# SWITCHES
NET "SW0"  	LOC = "P59" | IOSTANDARD = LVTTL ;

# 7 SEG
NET "AN<0>"      LOC = "P50" | IOSTANDARD = LVTTL ;
NET "AN<1>"      LOC = "P49" | IOSTANDARD = LVTTL ;
NET "AN<2>"      LOC = "P85" | IOSTANDARD = LVTTL ;
NET "AN<3>"      LOC = "P84" | IOSTANDARD = LVTTL ;
