//! **************************************************************************
// Written by: Map P.20131013 on Sun May 05 15:01:25 2019
//! **************************************************************************

SCHEMATIC START;
COMP "AN<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "SW0" LOCATE = SITE "P59" LEVEL 1;
COMP "LED0" LOCATE = SITE "P13" LEVEL 1;
COMP "LED1" LOCATE = SITE "P15" LEVEL 1;
COMP "CLK" LOCATE = SITE "P43" LEVEL 1;
SCHEMATIC END;

